@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  --blue-100: #dbeafe;

  --slate-50: #f8fafc;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-700: #122f3f;
  --slate-800: #0b1c26;

  --red-500: #d73328;

  --lime-400: #e3e56d;
  --lime-500: #d7da2f;

  --white: #ffffff;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  max-width: 144rem;
  margin: 5.6rem auto;
  background-color: var(--blue-100);
  padding: 5vh 5vw;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

label {
  font-size: 1.6rem;
  display: block;
  line-height: 1.5;
}

span {
  color: var(--slate-700);
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--blue-100);
  padding: 1.4rem 2.8rem;
}

input[type='text'] {
  color: var(--slate-700);
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.4rem 2.8rem;
  border: none;
  width: 100%;
}

input[type='text']:focus {
  outline: none;
}

input[type='radio'] {
  transform: scale(1.4);
}

.container {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 2rem;
  overflow: hidden;
}

.calculator__container {
  background-color: var(--white);
  padding: 6.4rem 3.2rem;
}

.primary__heading__reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.primary__heading__reset h1 {
  color: var(--slate-700);
  font-size: 2.4rem;
}

.primary__heading__reset button {
  color: var(--slate-700);
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  background: none;
  border-bottom: 1px solid var(--slate-700);
  padding: 2px;
  cursor: pointer;
}

.mortgageAmount {
  margin-bottom: 2.4rem;
}

.mortgageAmount label,
.term__container label,
.rate__container label {
  color: var(--slate-700);
  margin-bottom: 8px;
}

.amount__input__box,
.term__input__box,
.rate__input__box {
  display: flex;
  align-items: center;
  border: 1px solid var(--slate-300);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 8px;
}

.amount__error,
.term__error,
.rate__error,
.radio__error {
  color: var(--red-500);
  font-size: 1.4rem;
  opacity: 0;
}

.amount__input__box.amount__input--focus {
  border: 1px solid var(--lime-500);
}

.amount--focus {
  background-color: var(--lime-500);
}

.amount__input__box.amount__input--error {
  border: 1px solid var(--red-500);
}

.amount--error {
  background-color: var(--red-500);
}

/* Years and Rate */
.termrate {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}

.term__input__box.term--focus {
  border: 1px solid var(--lime-500);
}

.years--focus {
  background-color: var(--lime-500);
}

.rate__input__box.rate--focus {
  border: 1px solid var(--lime-500);
}

.percent--focus {
  background-color: var(--lime-500);
}

.term__input__box.term__input--error {
  border: 1px solid var(--red-500);
}

.years--error {
  background-color: var(--red-500);
}

.rate__input__box.rate__input--error {
  border: 1px solid var(--red-500);
}

.percent--error {
  background-color: var(--red-500);
}

/* Mortgage Type */
.type {
  margin-bottom: 2.4rem;
}

.type label:first-child {
  color: var(--slate-700);
  margin-bottom: 8px;
}

.radio__group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.4rem 2.8rem;
  border: 1px solid var(--slate-300);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.radio__group:last-child {
  margin-bottom: 0;
}

.radio__group label {
  color: var(--slate-700);
  font-weight: 600;
}

.radio__group.checked {
  background-color: #fff7ed;
  border: 1px solid var(--lime-500);
}

/* Submit button */
.submit {
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.4rem 5.6rem;
  border: none;
  border-radius: 2.4rem;
  background: var(--lime-500);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.submit p {
  font-size: 1.6rem;
  font-weight: 600;
}

.submit:hover {
  background-color: var(--lime-400);
}

/* Result */
.result {
  background-color: var(--slate-700);
  padding: 6.4rem 3.2rem;
  border-bottom-left-radius: 6.4rem;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: none;
}

.image-text img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2.4rem;
}

.image-text h2 {
  color: var(--white);
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.image-text p {
  color: var(--slate-300);
  text-align: center;
}

/* mortgage calculation */
.calculation h2 {
  color: var(--white);
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.calculation p {
  color: var(--slate-300);
  margin-bottom: 3.2rem;
}

.monthly-payment {
  border-top: 5px solid var(--lime-500);
  border-radius: 5px;
  background-color: var(--slate-800);
  padding: 3.2rem;
}

.monthly-payment h2 {
  color: var(--lime-500);
  font-size: 4.8rem;
  padding: 1.2rem 0 2.4rem 0;
  border-bottom: 1px solid var(--slate-300);
}

.monthly-payment h3 {
  color: var(--white);
  font-size: 2.4rem;
}
